@page "/{author}"
@using MiniTwit.Infrastructure.Entities
@model MiniTwit.Web.Pages.UserTimelineModel
@inject UserManager<Author> UserManager
@{
    ViewData["Title"] = "MiniTwit!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="~/Pages/Shared/_CheepBoxPartial.cshtml" model="Model" />
    
    
    @if (Model.Cheeps!.Any())
    {
        bool authenticated= User.Identity!.IsAuthenticated;
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps!)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @if (authenticated)
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            if(currentUser!.Following.Contains(cheep.AuthorName))
                            {
                                <a href="/Follow?target=@cheep.AuthorName&undo=true&returnUrl=@($"{HttpContext.Request.Path}{HttpContext.Request.QueryString}")">Unfollow</a>
                            }
                            else if (currentUser.Name == cheep.AuthorName) {}
                            else
                            {
                                <a href="/Follow?target=@cheep.AuthorName&undo=false&returnUrl=@($"{HttpContext.Request.Path}{HttpContext.Request.QueryString}")"> Follow </a>
                            }
                        }
                        @cheep.Text
                        <small>&mdash; @cheep.CreatedAt</small>
                        @if (authenticated)
                        {
                            var currentUser = await UserManager.GetUserAsync(User);
                            @if (cheep.LikedBy.Contains(currentUser!.Name))
                            {
                                <form method="post" asp-page-handler="UnLike">
                                    <input type="hidden" name="cheep" value="@cheep.Id"/>
                                    <input type="hidden" name="returnUrl" value="@HttpContext.Request.Path@HttpContext.Request.QueryString"/>
                                    <button type="submit">UnLike</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-page-handler="Like">
                                    <input type="hidden" name="cheep" value="@cheep.Id"/>
                                    <input type="hidden" name="returnUrl" value="@HttpContext.Request.Path@HttpContext.Request.QueryString"/>
                                    <button type="submit">Like</button>
                                </form>
                            }
                        }
                        @cheep.LikedBy.Count Likes
                    <p/>
                </li>
            }
        </ul>
        <div class="pagination" style="display: flex; justify-content: center">
            @if (Model.PageNumber > 1)
            {
                <a style="padding-right: 1%" href="?page=@(Model.PageNumber - 1)">previous</a>
            }
            @Model.PageNumber
            @if (Model.HasMorePages)
            {
                <a style="padding-left: 1%" href="?page=@(Model.PageNumber + 1)">next</a>
            }
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
